HELP.md

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
/out/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

### Project ###
.allure
.allure-results
.allure-report
.target
src/main/resources/driver
*.log
/Users/pavelklindziuk/IdeaProjects/ev-ui-taf/src
### Maven artifacts
**/target
**/generated-sources